@import url('./variables.css');
@import url('./components/shapes/shapes.css');
@import url('./components/header/header.css');
@import url('./components/hero/hero.css');
@import url('./components/location/location.css');
@import url('./components/gallery/gallery.css');/*to remove*/
@import url('./components/gallery/bento-gallery.css');
@import url('./components/activities/activities.css');
@import url('./components/footer/footer.css');

*,
*::before,
*::after{
    /* background: #0002; */
    color: var(--accent-color);
}

.hr{
    border: 1px solid var(--accent-color);
}

a[target="_blank"]{
    position: relative;

    &:hover::after{
        --movement-range: -2.5px;
        top: var(--movement-range);
        right: var(--movement-range);
    }

    &::after{
        content: '';
        top: 0; right: 0;
        transition: all 0.25s ease-in;
        color: inherit;
        position: absolute;
        transform: translateX(50%);
        width: 10px;
        aspect-ratio: 1/1;
        border: 1px solid;
        border-bottom: 0;
        border-left: 0;
    }
}

.img-wrapper{
    /* width: 100%; */
    height: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

button.btn{

    &.no-style{
        border: none;
        background:none;
        padding: .2rem;
    }
    
    border-radius: 0 !important;
    &.primary{
        --text-color:#fff;
        --bg-color:#0f89fc;
        --bs-btn-hover-bg: #0e7de6;
        --bg-hover-active-color:#0975da;
        --bs-btn-active-border-color: #0068c9;

        --bs-btn-color: var(--text-color);
        --bs-btn-bg: var(--bg-color);
        --bs-btn-border-color: var(--bg-color);
        --bs-btn-hover-color: var(--text-color);
        --bs-btn-hover-border-color: var(--bg-hover-active-color);
        --bs-btn-focus-shadow-rgb: 49,132,253;
        --bs-btn-active-color: var(--text-color);
        --bs-btn-active-bg: var(--bg-hover-active-color);
        --bs-btn-active-shadow: inset 0 3px 5px #00000020;
        --bs-btn-disabled-color: var(--text-color);
        --bs-btn-disabled-bg: var(--bg-color);
        --bs-btn-disabled-border-color: var(--bg-color);
    }
}

/* con questo tipo di ul all'inizio di ogni li si potrà mettere un icona scelta, come un emoji 
    e verrà usata come simbolo dell'elenco puntato */
ul.my-ul{
    list-style-type: none;
    li{
        text-indent: -1.7rem;
    }
}