:root{
    overscroll-behavior: none;

    --overlay : #fff;
    
    --accent-transparent : #000a;
    --accent-opp-transparent : #fffa;
    
    --primary: #ffa;
    --accent-color : #333;
    --accent-opp-color : #eee;
}